body {
  text-align: center;
}

.square {
  text-align: center;
  width: 50px;
  background: #eeeeee;
  display: inline-block;
  padding: 40px;
  margin: 5px;
  font-size: 60px;
  cursor: pointer;
  color: #aaaaaa;
}

.player, .winner {
  font-size: 30px;
  margin: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: #eeeeee;
  cursor: pointer;
}