@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Odor+Mean+Chey&display=swap');
body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: rgb(10, 254, 173);
}

.square {
  text-align: center;
  width: 50px;
  background: #eeeeee;
  display: inline-block;
  padding: 40px;
  margin: 5px;
  font-size: 60px;
  cursor: pointer;
  color: #aaaaaa;
}

.player, .winner {
  font-size: 30px;
  margin: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: #eeeeee;
  cursor: pointer;
}